html body{
    margin: 0px;
    padding: 0px;
    background: rgba(73,165,191,0.68);
    background: -moz-linear-gradient(left, rgba(73,165,191,0.68) 0%, rgba(77,135,149,0.68) 98%, rgba(77,134,148,0.47) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,165,191,0.68)), color-stop(98%, rgba(77,135,149,0.68)), color-stop(100%, rgba(77,134,148,0.47)));
    background: -webkit-linear-gradient(left, rgba(73,165,191,0.68) 0%, rgba(77,135,149,0.68) 98%, rgba(77,134,148,0.47) 100%);
   background: -o-linear-gradient(left, rgba(73,165,191,0.68) 0%, rgba(77,135,149,0.68) 98%, rgba(77,134,148,0.47) 100%);
   background: -ms-linear-gradient(left, rgba(73,165,191,0.68) 0%, rgba(77,135,149,0.68) 98%, rgba(77,134,148,0.47) 100%);
   background: linear-gradient(to right, rgba(73,165,191,0.68) 0%, rgba(77,135,149,0.68) 98%, rgba(77,134,148,0.47) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49a5bf', endColorstr='#4d8694', GradientType=1 );
}

#logoFundacion {
    width: 50%;
    height: 50%;
    border-radius: 25px;
    position: relative;
}
#navbar{
    background-color: rgba(22, 66, 124, 0.521);
    position: fixed;
    z-index: 1;
    width: 84.3%;
    height: 12%;
    border-radius: 10px;
    
}

#navbar-1{
    position: relative;
    left: 50%;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}

#navbar-1 a {
    color: #000;
}

/*SECCION QUIENES SOMOS*/
#quienes-somos{
    width: 100%;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#quienes-somos-1{
    width: 80%;
    height: 250px;
    margin-top: 50px;
}

.img-thumbnail{
    width: 100%;
    background: none;
    padding: 20px;
    margin: 0px 0px 20px;
    display: inline-block;
    text-align: center;
}


.img-fluid{
    border-radius: 5%;
}
.img-fluid-1{
    width: 90%;
    height: 250px;

}

.img-bloque-3{
    width: 100%;
}

#text{
    text-align: justify;
    margin-top: 10px;
    
}

.thumbnail, h4{
    font-family: 'Neucha', cursive;
    font-size: 30px;
    margin-top: 10px;
}

.lista-1 {
    margin-top: 10px;
    text-align: left;
}
/*FIN SECCION QUIENES SOMOS*/
/*FOOTER*/
#footer{
    background-color: rgba(22, 66, 124, 0.521); 
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;
}

#rowfooter{
    color: white;
}

#sociales{
    font-family: 'Neucha', cursive;
    font-size: 22px;
    font-weight: 500;
    padding-top: 60px;
}

#contactanos{
    padding-top: 50px;

}

#correo{
    color: rgb(0, 0, 56);
}

#contactanos h5{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

#direccion h5{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
/*FIN FOOTER*/